/**
 * Flex definition list
 * A semantic definition list displayed visually in a flex grid
 * At sm viewport, the element renders in the flex column direction
 * Above sm viewport, in the flex row direction
 */

@use '../../../../node_modules/nsw-design-system/src/global/scss/base/mixins' as nswdsMixins;
@use '../../../../node_modules/nsw-design-system/src/global/scss/base/functions' as nswdsFunctions;

dl.wrth__flex_list {

  & {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  @include nswdsMixins.breakpoint("sm") {
    flex-direction: row;
  }

  dt {
    & {
      flex-basis: 25%;
      padding : 0 0 nswdsFunctions.rem(16px) 0;
      margin: 0;
    }
    @include nswdsMixins.font-size('sm');
    & {
      font-weight: var(--nsw-font-bold);
    }
  }

  dd {
    & {
      flex-basis: 75%;
      padding : 0 0 nswdsFunctions.rem(16px) 0;
      margin: 0;
    }
    @include nswdsMixins.font-size('sm');
    & {
      font-weight: var(--nsw-font-normal);
    }
  }

}
