/**
 * Form overrides
 */

@use '../../../../node_modules/nsw-design-system/src/global/scss/base/mixins' as nswdsMixins;
@use '../../../../node_modules/nsw-design-system/src/global/scss/base/functions' as nswdsFunctions;
@forward '../../../../node_modules/nsw-design-system/src/components/button/button';
@forward '../../../../node_modules/nsw-design-system/src/components/form/form';

form {

  /**
   * The right title
   */
  .wrth-form__helper-info {
    @extend .nsw-form__helper;
    margin: nswdsFunctions.rem(4px) 0 0 0;
  }

  /**
   * Group fields occur in userforms
   */
  .wrth-form__groupfield {
    @extend .nsw-form__group;
    margin-bottom: nswdsFunctions.rem(32px);
  }

  /**
   * SelectionGroup
   */
  .wrth-form__selectiongroup {
    input[type=radio].selector {
      @extend .nsw-form__radio-input;
    }
  }

  /**
   * Date inputs
   */
  .datecomposite,
  .datetimecomposite {
    .inputs {
      .nsw-form__group {
        margin-top: 0;
      }
    }
  }

  input[type=reset] {
    @extend .nsw-button--danger;
  }


  @include nswdsMixins.breakpoint("sm") {
    /**
     * Composite field grid options
     */
    .wrth-form__composite {

      &[data-grid-option] {
        .field.cp {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: flex-end;
          justify-content: space-between;
          gap: nswdsFunctions.rem(16px);

          > * {
            margin-top: 0;
            flex: 1 1 100%;
          }

          /**
           * A flex break is full width
           */
          .wrth-flex__break {
            flex-basis: 100%;
          }
        }
      }

      &[data-grid-option="equal-width-fields"] {
        .field.cp {
          > * {
            flex: 1;
          }
        }
      }

      &[data-grid-option="2-across"] {
        .field.cp {

          align-items: flex-start;

          > * {
            /* grow shrink basis */
            flex: 0 1 calc(50% - nswdsFunctions.rem(16px));
          }
        }
      }

      &[data-grid-option="3-across"] {
        .field.cp {

          align-items: flex-start;

          > * {
            /* grow shrink basis */
            flex: 0 1 calc((100%/3) - nswdsFunctions.rem(16px));
          }
        }
      }

    }

  }

}
