/**
 * List component
 */

@use '../../../../node_modules/nsw-design-system/src/global/scss/base/mixins' as nswdsMixins;
@use '../../../../node_modules/nsw-design-system/src/global/scss/base/functions' as nswdsFunctions;

.wrth-list {
  &--icons {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      list-style-type: none;
      margin: nswdsFunctions.rem(8px) 0 0 0;
      padding: 0;
      &:first-child {
        margin-top: 0;
      }
      .icon {
        margin-right: nswdsFunctions.rem(8px);
      }
    }
  }

  &--tags {
    .nsw-tag {
      &> * {
        vertical-align: middle;
      }
      .nsw-material-icons {
        margin-left: nswdsFunctions.rem(-12px);
      }
    }
  }

}

/**
 * Replace negative margin in nsw-list
 */
.nsw-list {
  margin: 0;
  > * {
    margin: 0;
  }

  &--8 {
    gap: nswdsFunctions.rem(4px);
  }

  &--16 {
    gap: nswdsFunctions.rem(8px);
  }

  &--32 {
    gap: nswdsFunctions.rem(16px);
  }

}
