/**
 * An ultra basic CSS only slider of content
 * This modifies a grid with the relevant selector
 * to be one row in height and horizontal scrolling
 *
 * <figure> elements in the gallery grid have no margin top/bottom
 */

@use '../../../../node_modules/nsw-design-system/src/global/scss/base/mixins' as nswdsMixins;
@use '../../../../node_modules/nsw-design-system/src/global/scss/base/functions' as nswdsFunctions;

.nsw-grid[data-gallery] {

  align-items: stretch;

  .no-image {
    background-color: var(--nsw-palette-grey-04);
    width: 100%;
  }

  figure.nsw-media {

    margin-top : 0;
    margin-bottom : 0;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:focus {
      @include nswdsMixins.nsw-focus;
    }

    figcaption {

      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: var(--nsw-palette-off-white);
      color: var(--nsw-text-dark);
      padding: nswdsFunctions.rem(16px);

      & > * {
        display: block;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .credit {
        span {
          font-style: italic;
        }
      }

    }

  }

}

.nsw-section--invert {

  .nsw-grid[data-gallery="slideshow"] {

    background-color: var(--nsw-palette-white);
    box-shadow: none;

    .nsw-media {

      &--transparent {
        figcaption {
          color: var(--nsw-text-dark);
        }
      }

    }

  }

  .nsw-grid[data-gallery="mayo"] {

    figure.nsw-media {

      border: 1px solid var(--nsw-palette-white);

      figcaption {
        margin-top: auto;
        padding: 0;
        background-color: var(--nsw-palette-white);
        color: var(--nsw-text-dark);
      }

    }

  }

}

/**
 * Slideshow
 */
.nsw-grid[data-gallery="slideshow"] {
  overflow-x : scroll;
  flex-wrap: nowrap;
  margin : nswdsFunctions.rem(16px) 0 0 0;
  box-shadow: inset 0 0 nswdsFunctions.rem(8px) rgba(0,0,0,0.15);
  border: none;
  align-items: stretch;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 0;
  min-width : 100%;

  & > * {
    /**
     * Do not allow child items to shrink to fit
     */
    flex-shrink: 0;

    label {

      position: relative;
      height: 100%;

      .image {
        height: 100%;
      }

      &:focus {
        @include nswdsMixins.nsw-focus;
        & {
          border-radius:  3rem;
        }
      }

      input[type=radio] {
        display: block;
        position: absolute;
        top: nswdsFunctions.rem(16px);
        left: nswdsFunctions.rem(16px);
        accent-color: var(--nsw-brand-dark);
        height: nswdsFunctions.rem(32px);
        width: nswdsFunctions.rem(32px);
        border-radius: 50%;
        margin: 0;

        &:focus {
          accent-color: var(--nsw-brand-dark);
        }

        &:before {
          display: block;
          border-radius: 50%;
        }

        &:hover:before {
          content: '';
          display: block;
          height: 100%;
          width: 100%;
          background-image: linear-gradient(var(--nsw-text-hover), var(--nsw-text-hover));
        }

        &:focus:before {
          @include nswdsMixins.nsw-focus;
          & {
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background-image: none;
          }
        }
      }

    }
  }

}

/**
 * Grid of images
 */
.nsw-grid[data-gallery="grid"] {}

/**
 * Grid+extras
 */
.nsw-grid[data-gallery="mayo"] {

  figure.nsw-media {

    border: 1px solid var(--nsw-palette-black);
    box-shadow: var(--nsw-box-shadow);

    a {
      display: flex;
      text-decoration: none;
      color: inherit;

      &:hover,
      &:focus {
        outline: none;
        background: none;
      }

      img {
        object-fit: cover;
      }

      img,
      .no-image {
        height: nswdsFunctions.rem(304px);
        display: block;
      }

    }

    figcaption {
      margin-top: auto;
      padding: 0;
      background-color: var(--nsw-palette-black);
      color: var(--nsw-text-light);

      a {
        margin: 0;
        padding: nswdsFunctions.rem(16px);
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: var(--nsw-font-normal);
      }

    }


  }

}
