
.wrth-sponsorship {

  margin: rem(40px) 0;

  &__supportlabel {
    @include font-size('md');
    font-weight: var(--nsw-font-bold);
    color: var(--nsw-text-dark);
    border-bottom: 2px solid var(--nsw-text-dark);
    padding: 0 0 rem(8px) 0;
    margin: 0;
  }

  &__container {
    margin: rem(40px) 0;
  }

  &__descriptor {
    margin: 0 0 rem(40px) 0;
  }

  &__descriptor-mb {
    display: flex;
    flex-direction: column;

    .wrth-sponsorship__nsw {
      /* text only */
      margin: 0 0 rem(28px) 0;
    }

    .wrth-sponsorship__links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: rem(40px);
    }

  }

  &__descriptor-ind {

    display: flex;
    align-items: center;
    gap: rem(40px);

    .wrth-sponsorship__nsw {
      /* logo only */
    }

    .wrth-sponsorship__links {
      display: flex;
      flex-direction: row;
      gap: rem(40px);
    }

  }

  &__sponsors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(40px);
  }

  &__sponsor {

    a {
      outline: none;
      background: var(--nsw-white);
      display: block;
      padding: 0;

      &:hover,
      &:active {
        outline: none;
        background: var(--nsw-white);
      }

    }
    img {
      max-width: 160px;
      max-height: 76px;
      display: block;
    }
  }
}
