/**
 * Video and video gallery
 */

@use '../../../../node_modules/nsw-design-system/src/global/scss/base/mixins' as nswdsMixins;
@use '../../../../node_modules/nsw-design-system/src/global/scss/base/functions' as nswdsFunctions;

.wrth-media__video {

  iframe {
    border: none;
    display: block;
  }
}

.wrth-video {

  .wrth-media__video {
    background: var(--nsw-black);
  }

  .more-link {
    @include nswdsMixins.breakpoint("lg") {
      text-align: right;
    }
  }

  .placeholder {
    position: relative;

    .noimage {
      width: 100%;
      background: var(--nsw-palette-grey-04);
      aspect-ratio: 16/9;
    }
  }

  &--watch {
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    margin: 0 35%;
  }

  &-gallery {

    h4 {
        margin-bottom: nswdsFunctions.rem(16px);
    }

  }

  &-featured {

    h2 {
        & {
          margin-bottom: nswdsFunctions.rem(16px);
        }
        @include nswdsMixins.breakpoint("lg") {
            margin-bottom: nswdsFunctions.rem(40px);
        }
    }

  }

}


/**
 * Embedded media - iframe/video
 */
.ss-htmleditorfield-file.embed {
  margin: nswdsFunctions.rem(16px) 0 0 0;
  width: 100% !important;

  iframe,
  video {
    width: 100%;
    height: 100%;
    border: 0;
    aspect-ratio: 16/9;
  }

  .caption {
    margin: nswdsFunctions.rem(16px) 0 0 0;
  }

}
